.banner {
  height: 616px;
  position: relative;
  object-fit: contain;
  color: white;
}
.banner__content {
  margin-left: 20px;
  padding-top: 140px;
  height: 200px;
}
.banner_tittle {
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 0.3rem;
}
.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 340px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
}
.banner--efBottom {
  height: 17.2rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(51, 51, 51, 0.5),
    #111
  );
}

.banner__button{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: .2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: rgba(37, 37, 37, 0.61);
}
.banner__button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all .3s;
}
